<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Predictive Crime Analysis</title>
</head>

<body>
    <header>
        <div id="homepage">Predictive Crime Analysis</div>
        <div class="usables">
            <nav>
                <ul>
                    <li><a href="root.html">HOME</a></li>
                    <li><a href="analysis.html">ANALYSIS</a></li>
                    <li><a href="contact-us.html">CONTACT US</a></li>
                </ul>
            </nav>
            <button onclick="toggleTheme()"><i id="themeIcon" class="material-icons">brightness_7</i></button></button>
        </div>
    </header>

    <div class="options">
        <div class="cont">
            <div class="im-cont">
                <img src="/static/images/1district.jpg" alt="im." width="300px">
            </div>
            <p class="el"><a href="district.html">District Wise Analysis</a></p>
        </div>
        <div class="cont">
            <div class="im-cont"><img src="/static/images/3time.jpg" alt="im." width="300px"></div>
            <p class="el"><a href="time.html">Time-Wise Analysis</a></p>
        </div>
        <div class="cont">
            <div class="im-cont"><img src="/static/images/5accused.jpg" alt="im." width="300px"></div>
            <p class="el"> <a href="criminal.html">Criminal Analysis</a></p>
        </div>
        <div class="cont">
            <div class="im-cont"><img src="/static/images/6victim.jpeg" alt="im." width="300px"></div>
            <p class="el"> <a href="victim.html">Victim Analysis</a></p>
        </div>
        <div class="cont">
            <div class="im-cont"><img src="/static/images/2crime.jpg" alt="im." width="300px"></div>
            <p class="el"> <a href="crime.html">Crime Analysis</a></p>
        </div>
        <div class="cont">
            <div class="im-cont">
                <img src="/static/images/3police.jpg" alt="im." width="300px">
            </div>
            <p class="el"><a href="police.html">Police Performance</a></p>
        </div>

    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>